<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/public/styles.css">
  <title>Edit Dog</title>
</head>
<body>
  <%- include( '../partials/navbar' ) %>
  <form action="/dogs/<%=dog._id%>?_method=PUT" method="POST">
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" name="name" value="<%= dog.name %>" />
    </div>
    <div>
      <label for="breed">Breed</label>
      <input type="text" id="breed" name="breed" value="<%= dog.breed %>" />
    </div>
    <div>
      <label for="age">Age</label>
      <input type="text" id="age" name="age" value="<%= dog.age %>" />
    </div>
    <input type="submit" value="Update Dog" />
</body>
</html>